<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page !! LEARN++</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for = 'science'>SCIENCE:</label><br>
        <input type="text" id="science" name="science" value="0"><br>
        <label for = 'maths'>MATHS:</label><br>
        <input type="text" id="maths" name="maths" value="0"><br>
        <label for = 'dscience'>DataSCIENCE:</label><br>
        <input type="text" id="dscience" name="dscience" value="0"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>